## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [180]:
import pandas as pd

In [181]:
import numpy as np

In [182]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [183]:
# your code
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [184]:
data.groupby(['sex'])['fnlwgt'].count()

sex
Female    10771
Male      21790
Name: fnlwgt, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [185]:
# your code
data.groupby(['sex'])['age'].agg(np.mean)

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [186]:
# your code
data["native-country"].str.contains('United-States').mean()

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [187]:
data.groupby(['salary'])['age'].agg(np.mean)

salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64

In [188]:
data['age'].std()

13.640432553581341

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [189]:
# your code
# нечитабельно, но ответить на вопрос можно
#data.groupby(['salary'])['education'].value_counts()

In [190]:
data['hight_education_flag'] = (data['education'].isin(['Bachelors', 'Prof-school', 'Assoc-voc', 'Assoc-acdm', 'Doctorate', 'Masters']))
data['hight_education_flag']

0         True
1         True
2        False
3        False
4         True
         ...
32556     True
32557    False
32558    False
32559    False
32560    False
Name: hight_education_flag, Length: 32561, dtype: bool

In [191]:
data[(data['salary'] == '>50K')].groupby(['hight_education_flag'])['salary'].value_counts()

hight_education_flag  salary
False                 >50K      3306
True                  >50K      4535
Name: salary, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [192]:
# your code
data.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [193]:
#конспект
#data_filter = data['marital-status']. isin(['Married-civ-spouse'])
#data[data_filter]

In [194]:
#конспект
#data_f = data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]
#data_m = data[data['marital-status'].str.startswith('Married')]

In [195]:
data['married_flag'] = data['marital-status'].str.startswith('Married')
data['married_flag']

0        False
1         True
2        False
3         True
4         True
         ...
32556     True
32557     True
32558    False
32559    False
32560     True
Name: married_flag, Length: 32561, dtype: bool

In [196]:
#конспект
#data.groupby(['married_flag'])['sex', 'salary'].value_counts()

In [197]:
percentage=data[(data['salary'] == '>50K')].groupby(['married_flag'])['sex', 'salary'].value_counts().rename("propotion").groupby(level = 0).transform(lambda x: x/x.sum())
print(percentage)

married_flag  sex     salary
False         Male    >50K      0.630769
              Female  >50K      0.369231
True          Male    >50K      0.885540
              Female  >50K      0.114460
Name: propotion, dtype: float64

C:\Users\Irina\AppData\Local\Temp\ipykernel_13944\3449880492.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  percentage=data[(data['salary'] == '>50K')].groupby(['married_flag'])['sex', 'salary'].value_counts().rename("propotion").groupby(level = 0).transform(lambda x: x/x.sum())

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [198]:
percentage1=data[data['hours-per-week'] == data['hours-per-week'].max()].groupby(['hours-per-week'])['salary'].value_counts().rename("propotion").groupby(level = 0).transform(lambda x: x/x.sum())
print(percentage1)

hours-per-week  salary
99              <=50K     0.705882
                >50K      0.294118
Name: propotion, dtype: float64

In [199]:
l =data[data['hours-per-week'] == data['hours-per-week'].max()].groupby(['hours-per-week'])['salary'].value_counts()
l

hours-per-week  salary
99              <=50K     60
                >50K      25
Name: salary, dtype: int64

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [200]:
# your code
data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [201]:
# your code
def f(row):
    if row['age'] < 35:
        val = 'young'
    elif row['age'] < 70:
        val = 'adult'
    else:
        val = 'retiree'
    return val

In [202]:
data['AgeGroup']=data.apply(f, axis=1)

In [203]:
data.groupby(['AgeGroup'])['fnlwgt'].count()

AgeGroup
adult      17883
retiree      629
young      14049
Name: fnlwgt, dtype: int64

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [204]:
# your code
data[(data['salary'] == '>50K')].groupby(['AgeGroup'])['salary'].value_counts()

AgeGroup  salary
adult     >50K      6240
retiree   >50K       113
young     >50K      1488
Name: salary, dtype: int64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [ ]:
data[(data['age'] < 40) & (data['hours-per-week'] > 5)]
# 18250 строк

In [206]:
# your code
list_occupation = data['occupation'].value_counts()

In [207]:
def filter_func():
    age40 = data[(data['age'] < 40) & (data['hours-per-week'] > 5)]
    list_occupation = age40['occupation'].value_counts()
    return list_occupation

print(filter_func())

Craft-repair         2286
Adm-clerical         2270
Other-service        2188
Sales                2153
Prof-specialty       2022
Exec-managerial      1800
Machine-op-inspct    1172
Handlers-cleaners    1033
?                     991
Transport-moving      812
Tech-support          562
Farming-fishing       502
Protective-serv       377
Priv-house-serv        74
Armed-Forces            8
Name: occupation, dtype: int64